@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --border-radius: 0.4rem;
  --bg-image: url("./images/bg-desktop-light.jpg");

  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --item-background: hsl(0, 0%, 98%);
  --title: hsl(0, 0%, 98%);

  --background: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --text-primary: hsl(236, 8%, 36%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
}

.dark-mode {
  --bg-image: url("./images/bg-desktop-dark.jpg");
  --background: hsl(235, 21%, 11%);
  --text-primary: hsl(0, 0%, 86%);
  --item-background: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --background-card: hsl(225, 45%, 24%);

  --dark-very-dark-blue: hsl(235, 21%, 11%);
  --dark-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-light-grayish-blue: hsl(234, 39%, 85%);
  --dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --dark-very-dark-grayish-blue-alt: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-primary);
  height: 100vh;
  background-color: var(--background);
}

header {
  background-image: var(--bg-image);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
}

button#toggleTheme,
button#menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}
h1 {
  position: relative;
  top: 5px;
  letter-spacing: 0.8rem;
  font-weight: 700;
  color: var(--title);
}
.container {
  display: flex;
  flex-direction: row;
}
aside {
  width: 325px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  background-color: var(--item-background);
  height: 100vh;
}
aside h2 {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--bright-blue);
}
aside .aside-link {
  margin-bottom: 0.5rem;
}

main {
  padding: 18px;
  align-items: center;
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

section.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.table-header,
.table-body > div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.table-header {
  font-weight: bold;
}

.table-body div {
  background-color: var(--item-background);
}

span.round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid var(--light-grayish-blue);
}
button.delete-btn {
  background-color: var(--item-background);
  border: none;
  cursor: pointer;
}
.header-actions {
  display: flex;
  justify-content: center;
}
.actions {
  display: flex;
  justify-content: center;
}

.task{
  display: flex;
  flex-direction: column;
}
.task-title{
  font-weight: bold;
}




form.todo-input {
  align-self: flex-start;
  height: 3.5rem;
  display: flex;
  gap: 0.5rem;
  background-color: var(--item-background);
  padding: 0.8rem 1.3rem;
  border-radius: var(--border-radius);
  align-items: center;
}
form span.round {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--light-grayish-blue);
}
form #newTodo {
  border: none;
  background-color: var(--item-background);
  font-size: 18px;
  flex: 1;
  color: var(--text-primary);
}
section.list-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.1rem;
  background-color: var(--light-grayish-blue);
  overflow: hidden;
}

div.footer-list a {
  color: var(--text-primary);
  background: none;
  border: none;
  font-size: 15px;
  text-decoration: none;
  font-weight: 700;
}
div.footer-list > .buttons-footer {
  display: none;
}
section.buttons {
  display: flex;
  height: 3.5rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--item-background);
  border-radius: var(--border-radius);
}
section.buttons a {
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}


.todo-item.completed p {
  text-decoration: line-through;
  color: gray;
}

.round.checked {
  background: url("./images/icon-check.svg") center no-repeat,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.buttons-footer a.active,
.buttons a.active {
  font-weight: bold;
  color: hsl(192, 100%, 67%);
}
